version: '3'
services:
  mongo-server:
    image: 'mongo'
    volumes: 
      - /data/db:/data/db
  mongo-seed:
    build: ./mongo-seed
    links:
      - mongo-server
  node-app:
    restart: on-failure
    build:
      context: .
      dockerfile: Dockerfile
    ports: 
      - "3000:3000"
    volumes:
      - /app/node_modules
      - .:/app
